/* Header */
header, .product-card-grid, .services-card-grid {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 10px;
}

li {
    list-style: none;
}

h2, h3, p {
    margin: 0 auto;
    text-align: center;
    
}

h2 {
    padding: 10px;
}